* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	font: 400 62.5% 'Arial', sans-serif;
}

.bold {
	font-weight: 700;
}

.block {
	display: block!important;
}

.none {
	display: none!important;
}

.flex {
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -moz-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
}

.rotatorClass {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	position: absolute;
}

.rotatorReversClass {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	position: absolute;
}

ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.main_header_inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	   -moz-box-orient: horizontal;
	   -moz-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 3rem 1.5rem;
	background-color: black;
	position: relative;
}

.main_logo {
	width: 20rem;
	height: 7rem;
	background-color: aqua;
}

.navbar_top,
.social_list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	   -moz-box-orient: horizontal;
	   -moz-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.navbar_top {
	margin: 0 2rem 0 auto;
}

.navbar_top a {
	display: inline-block;
	width: 100%;
	font-size: 1.6rem;
	color: #fff;
	padding: 1rem 1rem;
}

.navbar_top a:hover {
	border-bottom: 1px solid red;
	-webkit-transition: .8s;
	-o-transition: .8s;
	-moz-transition: .8s;
	transition: .8s;
}

.touch_menu {
	width: 5rem;
	height: 5rem;
	display: none;
	position: absolute;
	right: 5%;
	top: 4rem;
	border: 1px solid #fff;
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.touch_menu:hover {
	color: red;
	border-color: red;
	-webkit-transition: 1s;
	-o-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

.touch_menu_inner_cont {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 100%;
}

.touch_menu_inner_cont i {
	display: block;
	width: 3rem;
	height: 0.5rem;
	background-color: #fff;
}

.touch_menu_inner_cont i:not(:last-child) {
	margin-bottom: 0.5rem;
}

.touch_menu_inner_cont:hover i {
	background-color: red;
}

.social_list a {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	background-color: aquamarine;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}

.social_list li:not(last-child) a {
	margin-right: 1rem;
}

.social_list a:hover {
	background-color: darkblue;
	border-color: yellow;
	-webkit-transition: .9s;
	-o-transition: .9s;
	-moz-transition: .9s;
	transition: .9s;
}

@media screen and (max-width:895px) {
	.main_header_inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		   -moz-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.navbar_top {
		display: none;
		width: 100%;
		margin: 2rem 0 0;
	}
	.navbar_top li {
		display: inline-block;
		width: 100%;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		        border-radius: 5px;
	}
	.navbar_top li:hover {
		background-color: red;
		-webkit-transition: 1s;
		-o-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	}
	.navbar_top a:hover {
		border: none;
	}
	.social_list {
		display: none;
		margin-top: 2rem;
		-webkit-align-self: flex-end;
		    -ms-flex-item-align: end;
		        align-self: flex-end;
	}
	.touch_menu {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		   -moz-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		   -moz-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}